<div class="zbase-ui zbase-ui-load hide" ng-style="ld" ng-class="{show:isLoading}">
  <span class='spinner-loader'></span><span class="loaded"><%=page_config.translater.get("加载中", page_config.language); %>...
  </span>
</div>
