<div class='msbody'>
  <div class = "ln"></div>
  <!-- <div class="sbody">
      <div class="centertu">
         <a href="http://y0.cn/hdq" target="_blank" onclick="_hmt.push(['_trackEvent', '闪屏', 'click', '精灵球闪屏', 'http://item.jd.com/2131668.html']);" class="liaojie">
           <span class = 'xiangqing'>点击抢购</span>
         </a>
          
      </div>
      <a class = 'tiaoguo'></a>
      <span  class="tiaoguo2">跳过&nbsp;<span class="co"></span></span>

      <a href="http://z.jd.com/project/details/28267.html" target="_blank" class="liaojie"></a>
      <span class = 'xiangqing'>点击了解详情&nbsp;<span>&gt;&gt;</span></span>
  </div> -->
  <div class='ssoper'>
    <a class='l' href='/public/app.html' target='_blank'><i class='mpic-download'></i><span><%=page_config.translater.get("下载客户端", page_config.language); %></span></a>
    <a class='r'><i class='mpic-skip'></i><span><%=page_config.translater.get("跳过", page_config.language); %><span class="m"></span></span></a>
  </div>
  <div class='noprompt'>
    <a><i class=''>/</i></a>
    <span>不再提醒</span>
  </div>
</div>