<div class="main">
  <div class="content">
    <p>抱歉，暂时还无法兼容您当前的浏览器！</p>
    <p>系统检测你使用的浏览器无法正确显示页面，请尝试下面的浏览器吧！</p>
    <div class="content1">
      <span class="span3"><a href="http://rj.baidu.com/soft/detail/14744.html?ald"><img src='/public/images/home/googlebrowser.jpg'/></a></span>
      <span class="span4"><a herf="http://www.firefox.com.cn/"><img src='/public/images/home/firefoxbrowser.jpg'/></a></span>
      <span class="span1"><a href="http://www.pc6.com/softview/SoftView_45245.html"><img src='/public/images/home/360browser.jpg'/></a></span>
      <span class="span2"><a href="http://rj.baidu.com/soft/detail/11339.html?ald"><img src='/public/images/home/baidubrowser.jpg'/></a></span> 
    </div>
    <div class="content2">
      <span class="span1"><img ng-src='/public/images/home/en_googlebrowser.jpg'/></span>
      <span class="span2"><img ng-src='/public/images/home/en_firefoxbrowser.jpg'/></span>
    </div>
  </div>
<div>