
<div class = 'container-fluid' ng-controller='MultiScreenController'>
  <!-- <div class="pagedown">
    <a class="tprev" target="_blank" ng-click="changePage($event);"><span><%=page_config.translater.get("上一页", page_config.language); %></span></a>
    <a class="tnext" target="_blank" ng-click="changePage($event);"><span><%=page_config.translater.get("下一页", page_config.language); %></span></a>
  </div> -->
</div>