<meta charset="utf-8" />
<meta http-equiv="Pragma" content="no-cache" />  
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="wb:webmaster" content="b7bd851382b877c5" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-title" content="<%=page_config.translater.get(page_config.title || "爱耳目智能摄像机", page_config.language)%>">
<meta name="renderer" content="webkit" />
<meta name="Keywords" content="爱耳目家庭摄像机、爱耳目智能摄像机、i耳目、爱耳目、iermu、摄像机、摄像头、智能家居、家庭摄像机、智能摄像头、家庭安全、无线wifi、双向语音" />
<meta name="Description" content="爱耳目智能摄像机，是用手机就能远程控制和实时查看的智能摄像机。高清红外夜视和云存储并具备移动警报功能，真正实现对家人每时每刻的关爱。爱耳目智能摄像机，打造专属于你的家庭视频相册！" />
<title> <%=page_config.translater.get(page_config.title || "爱耳目智能摄像机", page_config.language)%> </title>
<!-- <link href="/public/images/logo_ico.ico" type="image/x-icon" rel="shortcut icon" /> -->
<style type="text/css">
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
  html, body{
    height: 100%;
  }
  .z-clearfix {
    *zoom: 1;
  }

  .z-clearfix:before, .z-clearfix:after {
      content: " ";
      display: table;
  }
  .z-clearfix:after {
      clear: both;
  }
</style>