<div class="left-nav">
    <div class="list-wrap">
      <ul class = "service-ul">
        <li class="item">
          <ul class="sub-item ng-hide" ng-show = "activeId">
            <li class = "item" role="presentation">
              <a href='/profile/data-statistics'  ng-class='{active: currentMenu==1}'>
                <div class="sub-item-left">
                  <span>数据概览</span>
                </div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>